/* General CSS */
.size {
    font-size: 20px;
}
.footer {
    text-align: center;
    font-size: 13px;
}
.arial {
    font-family: Arial, Helvetica, sans-serif;
}
.flt-right {
    float: right;
}
.flt-left {
    float: left;
}
body, html {
    overflow: auto;
    height: 100%;
}

/* Top Row for Links*/
.row::after {
    content: "";
    clear: both;
    display: table;
}
.column1 {
    float: left;
    padding: 5px;
}
.column2 {
    float: right;
    padding: 5px;
}

/* Up Button Styling */

.btn {
    background: none;
    border: none;
    font-size: 20px;
    float: right;
}